*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #068fff, #dd1fff);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}
h1{
    font-size: 2rem;
    margin-bottom: 2vh;
    color: #333;
}
.subtitulo{
    color: #666;]
    margin-bottom: 5vh;
}
.opcoes{
    display: flex;
    justify-content: center;
    gap: 5%
}
.cartao{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 220px;
    cursor: pointer;
    border: 3px solid transparent;
    box-shadow: 0 2px  8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s, transfom 0.2s;
}
.cartao:hover{
    border-color: #007bff;
    transform: scale(1.03);
}
.cartao img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}
.cartao p{
    margin-top: 12px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.vs{
    font-size: 2rem;
    font-weight: bold;
    color: #aaa;
    display: flex;
    align-items: center;
}